<div class="potin">

<p> Ceci est la page du potin n°<%= (params[:id].to_i)%> <p/>


<p>  
 
	
	
	
	 <br>
	 <div class="card" style="width: 30rem;">
    <div class="card-body">
    <h5 class="card-title"><%= Gossip.all[(params[:id].to_i)].title%></h5>
</br>
    <p class="card-text"><%= Gossip.all[(params[:id].to_i)].content%></p>
    <a href="/profile/<%=Gossip.all[(params[:id].to_i)].user.id%>" class="btn btn-primary"><%=Gossip.all[(params[:id].to_i)].user.first_name %></a>  
  </div>
</div>

	 <br>
	 <p/>
	</div>